/*---------setup------------*/
:root{
    --red : #D26767;
    --red-secondary :rgb(185, 60, 62);
    --green :#62C4C3;
    --green-secondary:rgb(57, 163, 161);
    --text-primary : #262222;
    --text-secondary : #888888;
    --button-BG : #FFF3CF;
    --button-BG-secondary : #f8e4a8;
    --button-side: #1E3D59;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    color: var(--text-primary);
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/*---------shared styles----------*/
.button{
    height: 2.5rem;
    width: 60%;
    max-width: 16.5rem;
    display: flex;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}


#container{
    height: 100vh;
    width: 100vw;
}

.punchline{
    color: var(--text-secondary);
    font-size:1rem;
    position: absolute;
    bottom: 1.5rem;
}
/*BigScreen Adjustment*/
@media screen and (min-width: 650px) {
    .punchline {
        position: relative;
        margin: 1rem  0 0 0;
        bottom: 0rem;
        color: var(--text-secondary);
    }
}
/*verySmallScreen Adjustment (iphone4)*/
@media screen and (max-width: 325px) {
    .punchline {
        position: relative;
        margin: 1rem  0 0 0;
        bottom: 0rem;
        color: var(--text-secondary);
    }
}

.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}




/*--------------------start page------------------------*/



#logo{
    max-height: 250px;
    max-width: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#start-screen h1{
    color: var(--text-primary);
    text-align: center;
    font-size: 2rem;
    margin: 0 1rem;
}

#slogan{
    text-align: center;
    margin: 0.5rem 1rem 0 1rem;
}

#start-button{
    background-color: var(--red);
    box-shadow: 0px 0px 15px var(--red);
    margin-top: 2rem;
}

#start-button:active{
    background-color: var(--red-secondary);
    box-shadow: 0px 0px 15px var(--red-secondary);
}

#lang-change{
    color: var(--text-secondary);
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    cursor: pointer;

}

#start-screen P{
  
    color: var(--text-secondary);
}


/*verySmallScreen Adjustment (iphone4)*/
@media screen and (max-width: 325px) {
    #logo{
        max-width: 180px;
        
    }

    .button{
        font-size: 1.5rem;
        height: 2.4rem;
    }
}


/*----------------------Quiz Screen---------------------*/

#quiz-screen img{
    width: 128px;
    height: 128px;
    margin: 2rem 0;
}

#question{
    margin: 0 2rem 0.5rem 2rem;
    text-align: center;
}

#choise-container{
    width: 100%;
}

.choise-bg{
    display: flex;
    flex-direction: row;
    background-color: var(--button-BG);
    margin-top: 1.5rem;
    align-items: center;
    border-radius: 20px;
    height: 2rem;
    width: 70%;
    max-width: 360px;
    cursor: pointer;
}

.choise-bg:active{
    background-color: var(--button-BG-secondary);
}

.number-bg{
    color: white;
    width: 20%;
    max-width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
    background-color: var(--button-side);
    margin-right: 1rem;
}


.progs-circle{
    border: 50%;
    width : 0.8rem;
    height : 0.8rem;
    border: 0.4px solid var(--button-side);
    display: inline-block;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right : 0.2rem;
}

.correct{
    border: 0;
    background-color: var(--green);
    transition: 600ms;
}

.wrong{
    border: 0;
    background-color: var(--red);
    transition: 600ms;
}

.greenGlow{
    border: 2px solid var(--green);
    box-shadow: 0 0 10px var(--green);
    transition: 90ms;
}

.redGlow{
    border: 2px solid var(--red);
    box-shadow: 0 0 10px var(--red);
    transition: 90ms;
}


/*BigScreen Adjustment*/
@media screen and (min-width: 650px) {
    #container{
        height: auto;
        width: 50vw;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: auto;
        margin-top: 3.5%;
        margin-bottom: 3rem;
        padding: 2rem;
    }

    #quiz-screen img{
        margin: 0 0 1rem 0;
    }
}

/*-------------------Score Screen---------------------*/


#score-screen img{
    margin-top: 2rem;
}

#score{
    margin-top: 2rem;
    font-size: 3rem;
}

#answer-bar{
    margin-top: 0.7rem;
}

#answer-bar .progs-circle{
    margin-top: 0rem;
    margin-right: 0.4rem;
}

#score-screen h1{
    font-size: 1.8rem;
    margin: 2rem 2rem 0 2rem;
}

#score-screen .button{
    margin-top: 1rem;
    background-color: var(--green);
}

#score-screen .button:active{
    margin-top: 1rem;
    background-color: var(--green-secondary);
}

.who{
    margin-right: 0.3rem;
    color:#0B6085;
}

.tracker{
    color: var(--red);
}

#corection-container{
    width: 60%;
    max-width: 16.5rem;
    margin-top: 0.5rem;
    text-align: start;
    justify-content: center;
}

.correction{
    margin-top: 1rem;
    background-color: var(--green);
    color: white;
    opacity: 0.8;
    font-size: 1rem;
    font-weight: 100;
    width: 100%;
    padding: 0.7rem;
    border: 1.5px solid var(--green-secondary);
    box-shadow: 0 0 5px var(--green);
    border-radius: 5px;
    flex-direction: row;
    justify-content: start;
}

.correction span{
    opacity: 1;
}
.correction p{
    margin-left: 0.8rem;
    opacity: 1;
}

#last-punchline{
    position: relative;
    display: block;
    margin-top: 3rem;
}

/*verySmallScreen Adjustment (iphone4)*/
@media screen and (max-width: 325px) {
    #emoji-container img{
        width: 70%;
        margin-bottom: 0.2rem;
    }

    #score-screen h1{
        font-size: 1.5rem;
        margin: 1rem 0rem 0 0.2rem;
    }

    #score{
        margin-top: 0.5rem;
        font-size: 2.5rem;
    }

    .button{
        font-size: 1.2rem;
    }
}

/*-------------------------*/
.hidden{
    display: none !important;
}


.fadeout{
    animation: fadeout 0.5s ease forwards;
}

.fadein{
    animation: fadein 0.5s ease;
}

.isright{
    animation: right 0.3s ease;
    animation-iteration-count: infinite;
}

.iswrong{
    animation: wrong 0.3s ease;
    animation-iteration-count: infinite;
}


/*----------------------ANIMATIONS----------------------*/

@keyframes wrong{
    0%{transform: translateX(0px);}
    50%{transform: translateX(-3px);}
    100%{transform: translateX(3px);}
}

@keyframes right{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(-1.5deg);}
    100%{transform: rotate(1.5deg);}
}

@keyframes fadeout{
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes fadein{
    from{opacity: 0; transform: translateY(100px);}
    to{opacity: 1; transform: translateY(0px);}
}

/*
---------------------------ARABIC LANGUAGE---------------------
*/

.number-bg:lang(ar) {
    /* styles for elements determined to be in Arabic */
       margin-right: 0;
       margin-left: 1rem;
}

body:lang(ar){
    font-family: 'Tajawal', sans-serif !important;
}


.correction p:lang(ar){
    margin-left: 0;
    margin-right: 0.8rem;
}
               