/*---------setup------------*/
:root{
    --red : #D26767;
    --red-secondary :rgb(185, 60, 62);
    --green :#62C4C3;
    --green-secondary:rgb(57, 163, 161);
    --text-primary : #262222;
    --text-secondary : #888888;
    --button-BG : #FFF3CF;
    --button-BG-secondary : #f8e4a8;
    --button-side: #1E3D59;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--text-primary);
    text-decoration: none;
}


/*---------shared styles----------*/
.button{
    height: 2.5rem;
    width: 60%;
    max-width: 16.5rem;
    display: flex;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

a{
    color: white;
}


#container{
    height: 100vh;
    width: 100vw;
}


.punchline{
    color: var(--text-secondary);
    font-size:1rem;
    position: absolute;
    bottom: 1.5rem;
}
/*BigScreen Adjustment*/
@media screen and (min-width: 650px) {
    .punchline {
        position: relative;
        margin: 1rem  0 0 0;
        bottom: 0rem;
        color: var(--text-secondary);
    }
}
/*verySmallScreen Adjustment (iphone4)*/
@media screen and (max-width: 325px) {
    .punchline {
        position: relative;
        margin: 1rem  0 0 0;
        bottom: 0rem;
        color: var(--text-secondary);
    }
}




/*--------------------start page------------------------*/

#start-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    display: none;
}


#logo{
    max-height: 300px;
    max-width: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#start-screen h1{
    color: var(--text-primary);
    text-align: center;
    font-size: 1.5rem;
    margin: 0 1rem;
}

#start-button{
    background-color: var(--red);
    box-shadow: 0px 0px 15px var(--red);
    margin-top: 2rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#start-button:active{
    background-color: var(--red-secondary);
    box-shadow: 0px 0px 15px var(--red-secondary);
}

#start-screen P{
  
    color: var(--text-secondary);
}


/*verySmallScreen Adjustment (iphone4)*/
@media screen and (max-width: 325px) {
    #logo{
        max-width: 180px;
        
    }

    .button{
        font-size: 1.5rem;
        height: 2.4rem;
    }
}


/*----------------------Quiz Screen---------------------*/

#quiz-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}

#quiz-screen img{
    margin: 2rem 0;
}

#question{
    margin: 0 2rem 0.5rem 2rem;
    text-align: center;
}

.choise-bg{
    display: flex;
    flex-direction: row;
    background-color: var(--button-BG);
    margin-top: 1.5rem;
    align-items: center;
    border-radius: 20px;
    height: 2rem;
    width: 70%;
    max-width: 360px;
    cursor: pointer;
}

.choise-bg:active{
    background-color: var(--button-BG-secondary);
}

.number-bg{
    width: 20%;
    max-width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px ;
    background-color: var(--button-side);
    color: white;
    margin-right: 1rem;
}


.progs-circle{
    border: 50%;
    width : 0.8rem;
    height : 0.8rem;
    border: 0.4px solid var(--button-side);
    display: inline-block;
    border-radius: 50%;
    margin-top: 2rem;
    margin-right : 0.2rem;
}

.correct{
    border: 0;
    background-color: var(--green);
}

.wrong{
    border: 0;
    background-color: var(--red);
}


/*BigScreen Adjustment*/
@media screen and (min-width: 650px) {
    #container{
        height: auto;
        width: 50vw;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: auto;
        margin-top: 3.5%;
        padding: 2rem;
    }

    #quiz-screen img{
        margin: 0 0 1rem 0;
    }
}

/*-------------------Score Screen---------------------*/

#score-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#score-screen img{
    margin-top: 2rem;

}

#score{
    margin-top: 2rem;
    font-size: 3rem;
}

#score-screen h1{
    font-size: 1.8rem;
    margin: 2rem 2rem 0 2rem;
}

#score-screen .button{
    margin-top: 1rem;
    background-color: var(--green);
}

#score-screen .button:active{
    margin-top: 1rem;
    background-color: var(--green-secondary);
}

.who{
    margin-right: 0.3rem;
    color:#0B6085;
}

.tracker{
    color: var(--red);
}

/*verySmallScreen Adjustment (iphone4)*/
@media screen and (max-width: 325px) {
    #score-screen img{
        width: 30%;
    }

    #score-screen h1{
        font-size: 1.2rem;
        margin: 1rem 0rem 0 0rem;
    }

    #score{
        margin-top: 0.5rem;
        font-size: 2.5rem;
    }
}

